<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" routerLink="/">Social Networks</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
     
      <ul *ngIf="status" class="navbar-nav mr-auto">
       
        <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/friends/all">Friends List</a> 
        </li>  
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/friends/new">Find Friends</a> 
        </li>  
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/friends/req/sent">Sent Requests</a> 
        </li>  
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/friends/req/recv">Friend Requests</a> 
        </li>  
        <li class="nav-item" style="margin-left: 180px;font-size: 18px;color:red">
          <p-growl *ngIf="showMessage" [(value)]="msgs"></p-growl>
        </li>
        
      </ul>
      <ul *ngIf="status" class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link pull-right">Welcome back {{userFullName}}</a>
           </li>
          <li class="nav-item">
              <a class="nav-link pull-right" (click)="logout()">Log Out</a>
           </li>
      </ul>
    <ul *ngIf="!status" class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/register">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
    </li>
    </ul> 
    </div>
  </nav>