<!-- <div class="row">
  <div class="col-md-6 mx-auto">
    <h2 style="text-align:center">People You May Know</h2>
    <br>
    <hr>
    <div class="card" style="width: 10rem;" *ngFor="let user of List">
      <img class="card-img-top" src="https://image.flaticon.com/icons/svg/21/21104.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{user.FirstName}} {{user.LastName}}</h5>
        <a class="btn btn-success" style="border:1px solid #ccc" (click)="updateFriendship(user.Id,3)">Add Friend</a>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-md-6 mx-auto">
    <h2 style="text-align:center">People You May Know</h2>
    <br>
    <hr>
    <input [(ngModel)]="searchText" class="form-control" placeholder="Search for new friends">
    <br>
    <hr>
  </div>
</div>
<div class="row mx-auto" style="width:50%" *ngFor="let user of List | filter : searchText">
  <div class="col-md-8 mx-auto">
    <h5 class="card-title">{{user.FirstName}} {{user.LastName}}</h5>
  </div>
  <div class="col-md-4 mx-auto">
    <a class="btn btn-success" style="border:1px solid #ccc" (click)="updateFriendship(user.Id,3)">Add Friend</a>

  </div>
</div>

<!-- <br><hr>
  <form (onsubmit)="searchForFriends($event)">
    <label>Search for friends</label>
    <input id="searsearchPrahsechStr" />
    <button type="submit">Search</button>
  </form><br><hr> -->